.contact-section {
    background: linear-gradient(to top, #f8f9fa, #d1e8ed);
}

.contact-section .card {
    border: none;
    background-color: #fff;
}

.contact-section h1 {
    color: #005f73;
}

.contact-section .form-control:focus {
    border-color: #005f73;
    box-shadow: 0 0 5px rgba(0, 95, 115, 0.5);
}
